<table class='MMM-VALORANTESPORTS-SCHEDULES-table'>
    <tbody>
        {% if items.length === 0 %}
        <tr>
            <td>{{ 'NO_DATA_FOUND' | translate }}</td>
        </tr>
    {% else %}
        <tr class="MMM-VALORANTESPORTS-SCHEDULES-table-heading">
            <td>Brand</td>
            <td>Item</td>
        </tr>
        {% for item in items %}
        <tr class="MMM-VALORANTESPORTS-SCHEDULES-table-row">
            <td>{{item.brand}}</td>
            <td>{{item.equipment}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>